.calendar {
    width: 60%;
    margin: 2rem;
}

.cardCalendar {
    width: 30%;
    max-width: 500px;
    margin: 2rem auto;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    &__form-group {
        margin-bottom: 1rem;

        label {
            font-weight: 600;
            margin-bottom: 0.5rem;
        }
    }

    &__btn {
        display: block;
        width: 100%;
        margin-top: 1rem;
        padding: 0.75rem;
        font-weight: bold;
        border-radius: 10px;
    }
}